
@media (max-width: 576px) { 
	#hide-footer{
		display: none;
	}

	#hide-sidebar{
		display: none;
	}

	.navbar-collapse{
		background-color: #fff;
	}
 }


body{
	font-family: "silkaregular", sans-serif ;
}

aside{
	position: fixed;
	z-index: 1;
	margin-top: 580px;
	right: 140px;

}

/* header */

.opaque-navbar {
    background-color: rgba(0,0,0,0);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
    background-color: white;
    transition: background-color .5s ease 0s;
}

.nav-link:hover{
	color: #FFBE53;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 14px;
    padding-left: 15px;
}

/* tutup navbar */



/* footer */
#footer{
	margin-top: 50px;
}

#footer-logo{
	margin-bottom: 24px;
}



.form-sub{
	
	display:inline-block;
	width: 80%;
	height: calc(1.5em + .75rem + 2px);
	padding: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color:black;
	background-color: white;
	background-clip: padding-box;
	border: 1px solid #9A9B9F;
	border-top-color: rgb(154, 155, 159);
	border-top-style: none;
	border-top-width: 1px;
	border-right-color: rgb(154, 155, 159);
	border-right-style: none;
	border-right-width: 1px;
	border-bottom-color: rgb(154, 155, 159);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: rgb(154, 155, 159);
	border-left-style: none;
	border-left-width: 1px;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	border-radius: unset;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.submit{
	background-color: transparent;
	border: none;
}

/*  huruf tebal */
.f-t{
	font-weight: bold;
}
/* sanagat huruf tebal */
.f-st{
	font-weight: bolder;
}
.f-tp{
	font-weight: lighter;
}



/* gaya huruf */
.fssb{
	/* font silka */
	font-family: 'silkasemibold';
}
.fsb{
    font-family: 'silkabold';
}
.fsr{
	font-family: 'silkaregular';
}
.fsm{
	font-family: 'silkamedium';
}
.fsl{
	font-family: 'silkalight';
}
.fsri{
	font-family: 'silkaregular_italic';
}

.f-os{
	/* font open sans */
	font-family: 'Open Sans', sans-serif;
}
.fossb{
	/* semi bold */
	font-weight: 600;
}
.fosb{
	/*  bold */
	font-weight: 700;
}
.fosl{
	/* light */
	font-weight: 300;
}

/* ukuran huruf */
.f-9{
	font-size: 9px;
}
.f-11{
	font-size: 11px;
}
.f-12{
	font-size: 12px;
}
.f-13{
	font-size: 13px;
}
.f-14{
	font-size: 14px;
}
.f-15{
	font-size: 15px;
}
.f-16{
	font-size: 16px;
}
.f-20{
	font-size: 20px;
}
.f-32{
	font-size: 32px;
}
.f-36{
	font-size: 36px;
}
.f-40{
	font-size: 40px;
}
.f-36{
	font-size: 36px;
}
.f-60{
	font-size: 60px;
}
.f-80{
	font-size: 80px;
}

/* warna huruf */
/* biru tua */
.f-bt{
	color: #0C59B0;
}
/* biru muda */
.f-bm{
	color: #0083CA;
}
/* abu abu muda */
.f-am{
	color: #9A9B9F;
}
/* abu abu tua */
.f-at{
	color: #707070;
}
/* kuning */
.f-k{
	color: #FFBE53;
}


/* dropdown */
/* .dropdown-toggle::after {
	display:none;	
} */
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }


