body{
    font-family: 'silka';
}
.jumbotron{
    margin-top: -100px;
    background-size: cover;
    background-image: url(/images/kesehatanjiwa/landing-kesehatan-jiwa.png);
    height: 720px;;
    /* z-index: -1; */
}

.landing{
    margin-top: 150px;
}

/* border artikel */
.rounded {
    border-radius: 25px;
}

.gambar{
	object-fit: cover;

	/* 		sumbu 		x,y		jika tudak di atuh maka akan fokus ke tengah */
	/* object-position: 100% 0; */
	
	width: 370px;
	height: 218px;
  }