.jumbotron{
    background-size: cover;
    background-image: url(/images/pustaka/landingpustaka1.png);
    height: 563px;
    /* z-index: -1; */
}

.card-columns{
    margin-top: 25px;
}

.card{
    border-radius: 1rem;
    background-color: #0083CA;
    display: inline-block;
}

.card-title{
    font-family: 'silkasemibold';
    height: 65px;
    overflow: hidden;
    font-size: 14px;
}

.card-text{
    font-family: 'silkaregular_italic';
    font-size: 12px;
    line-height: 1.5;
    color: #ffffff;   
}

.card-line{
    border-top: 1px dotted white;
}

.small{
  font-family: 'Opens sans';
  font-size: 12px;
  line-height: 1.42;
  color: #9a9b9f;
}

.learn-more{
    margin-top: 5px;
    font-family: 'silkasemibold';
    font-size: 14px;
    color: #0083ca;
  
}


/* @media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
} */

/* katagori tombol */
.btn{
    border: 1px solid #9A9B9F;
    border-radius: 90rem;
    margin-bottom: 20px;
    margin-top: 25px;

    
}





@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 4;
    }

}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }


}

@media (min-width: 75em) {
    .card-columns {
        /* -webkit-column-count: 5;
        -moz-column-count: 5; */
        column-count: 6;

    }


}

@media (max-width: 576px) { 
    /* .scrolling-wrapper{
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    } */

    
    /* .card{
        display: inline-block;
        height: 220px;
        width: 170px;  
    } */

    /* .card {
        max-width: 170px;
      } */

    /* .card-title{
        display: inline;


    } */
 }

 #dropdown-toggle {
    width: 255px !important;
}

.dropdown-toggle::after {
    margin-left: 150px;
}

.dropdown-menu.show {
    width: 255px;
}

.hiv, .publikasi, .regulasi{
    margin-top: 70px;
}

/* tombol arah pelajari selengkapnya */
.pb-1, .py-1 {
    padding-top: 6px;
}