body{
    font-family: 'silka';
}
/* jumbotron */
.jumbotron{
    margin-top: -70px;
    background-size: cover;
    background-image: url(../images/tentengkami/landing-about.png);
    height: 850px;
    
}

/* teks landing */
.display-4{
    font-size: 80px;
    font-weight: 500;
}

.lead{
    margin-top: 150px;
    font-size: 24px;
    font-weight: 500;


}

/* sesi sejarah */
#sejarah{
    background-color: #F7F7F7;
    margin-top: 20px;
    padding-top: 45px;
    padding-bottom: 23px;
}



/* sesi visi */
#visi{
    padding-top: 30px;
    /* padding-bottom: 50px; */
    margin-bottom: 50px;
   
}

/* pembatas */
#batas2{
    margin-top: 30px;
    margin-bottom: 30px;
}

/* sesi tim kami */
#tim{
    background-color: #E0EFF0;
    padding-top: 70px;
    padding-bottom: 70px;
}

#teks-tim{
    padding-bottom: 20px;
}

/* sesi patner */
#patner{
    padding-top: 70px;
}

.carousel-indicators {
    position: relative;
    justify-content: flex-end;

}


.our-history p{
    line-height: 2;
}

.carousel-indicators li {
    width: 8px;
    height: 8px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #FFBE53;

}

.carousel-indicators{
    margin-right: 2%;
}

.dropdown-toggle::after {
	display:none;	
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }

 /* border radius tim kami */
 .rounded {
    border-radius: 25px !important;
}

/* gambara konten tim */
.img-tim{
	object-fit: cover;

	/* 		sumbu 		x,y		jika tudak di atuh maka akan fokus ke tengah */
	/* object-position: 100% 0; */
	
	width: 256px;
	height: 350px;
  }

  .swiper-pagination {
    position: relative !important;
    text-align: center !important;

}


    /* mobile version */
@media (max-width: 576px) { 
    .img-tim{
        object-fit: cover;

	/* 		sumbu 		x,y		jika tudak di atur maka akan fokus ke tengah */
	/* object-position: 100% 0; */
	
    height: 137px !important;
    width: 100px !important;
    }

    .rounded {
        border-radius: 10px !important;
    }

    .swiper-button-prev, .swiper-button-next{
        display: none;
    }
}